* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

header {
    background-image: url('/images/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.p-4 {
    display: flex;
    justify-content: space-between;
    /* border: 4px solid white; */

}

.p-4 a {
    font-size: x-large;
}
.carousel-inner{
    /* width: 80%; */
    /* display: flex;
    justify-content: center; */
    /* width: max-content; */
    /* margin-left: 200px; */
    /* margin-right: auto; */
    /* background-color: rgb(16, 17, 17); */
    /* position: relative;
    left: 25%; */
    height: 400px;
}
.carousel{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    position: relative;
    top: 150px; 
}
/* .col-md-2{
    background-color: red;
    border: 3px solid yellow;
    height: 200px;
} */
main{
    display: flex;
    justify-content: center;
}
main div a{
    padding: 20px;
    background-color:#df8a18;
    border-radius: 10px;
    font-size: large;
    position: relative;
    top: -50px;
    letter-spacing: 3px;
}

