* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

header {
    background-image: url('/images/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.p-4 {
    display: flex;
    justify-content: space-between;

}

.p-4 a {
    font-size: large;
}
.carousel-inner{
    height: 400px;
}
.carousel{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    position: relative;
    top: 150px; 
}
main{
    display: flex;
    justify-content: center;
}
main div a{
    padding: 20px;
    background-color:#df8a18;
    border-radius: 10px;
    font-size: large;
    position: relative;
    top: -50px;
    letter-spacing: 3px;
}

