* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li {
    list-style: none;
}

.p-4 {
    display: flex;
    justify-content: space-between;

}

.one,
.two {
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.asdf {
    display: flex;
    justify-content: center;
    width: max-content;
}

.card {
    border: none;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
    z-index: 500;
}

body {
    background-image: url('images/bg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#placeOrders:hover {
    cursor: pointer;
}

.kama {
    display: none;
    background-color: #ff000040;
    padding: 20px;
    box-shadow: 0 0 20px #00000010;
    border-radius: 8px;
    margin-bottom: 20px;
    z-index: 1000;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    width: 100%;
    font-size: 20px;

}

form input {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #fff;
    margin-top: 5px;
    border-radius: 5px;
    background: transparent;
}
#reply input::placeholder{
    color: white;
}
#reply p{
    color: #fff;
}
form input::placeholder {
    color: white;
}

form p {
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
}

#demo {
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;

}
#yes:hover{
    cursor: pointer;
}

#location:hover{
    cursor: pointer;
}
#extra span{
    background-color: #ffffff90;
    border-radius: 5px;
    padding: 2px;
    font-size: large;
    font-weight: 700;
}

#reply{
    margin-left: 50px;
}

.card-body span{
    background-color: #ffffff90;
    font-size: large;
    font-weight: 700;
}